* {
box-sizing: border-box;

}

@font-face {
    font-family: 'bpdotsregular';
    src: url("bpdots-webfont.woff2") format("woff2"),
         url("bpdots-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



body {
  background-color: black;
  background-image: url("lasertriangle.gif");
  background-repeat:repeat-y;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

}

h1 {
  font-family: "bpdotsregular";
  height: 20%;
  width: 100%;
  margin: auto;
  padding: 50px;
  text-align: center;
  font-size:30px;
  color:#ffffff;
  text-shadow: 0 0 10px #ffffff,
             0 0 20px  #ffffff,
             0 0 30px  #ffffff,
             0 0 40px  #00FFFF,
             0 0 70px  #00FFFF,
             0 0 80px  #00FFFF,
             0 0 100px #00FFFF,
             0 0 150px #00FFFF,
}

.buttons{
  display: block;
  font-size: 15px;
  height: 30%;;
  width: 175px;
  color: #50BFE6;
  border: 1px solid white;
  text-align: center;
  font-family: "bpdotsregular";
  font-weight: bold;
  text-transform: uppercase;
  background-color: #66FF66;
  border-radius: 3px;
  margin-top: 10px;
}

.buttons:hover{
  background-color: #AEFF14;
  cursor: url('spaceinvader.cur'), auto;
}

main {
  width: 100%;
  height: 50%;
  margin: auto;
  // clear: both;
}

.game_setup {
  width: 33%;
  height: 30%;
  padding-right: 100px;
  float: left;
  margin-left: auto;
}

.background_options {
  height: 30%;
  text-align: right;
  float: right;
  margin: auto;
  margin-right: 20px;
}

// .connect4 {
//   transition-timing-function: ease-in-out;
//   transform: translateX(130%);
//   transform: translateX(130%);
//   color: white;
//
//   width: 100px;
// }

.playerdisplay {
  border: 2px solid #00ff00;
  box-shadow: 2px 0px 10px #fff;
  color: white;
  width: 33%;
  height: 20%;
  margin: 0 auto;
  font-family: "bpdotsregular";
  text-transform: uppercase;
  text-align: center;
  background-color: blue;
}

#game_setup_button {
  background-color: #32CD32;
  color: #00008B;
}

#background_options_button {
  background-color: #32CD32;
  color: #00008B;
}

#startgame {
  display: none;
}


#stopmusic {
  display: none;
}

#reset {
  display: none;
}

#sunbackground {
  display: none;
}


#tronbackground {
  display: none;
}

#trianglebackground {
  display: none;
}



.gameboard {
    margin-left: 11%;
    width: 80%;
    padding-top: 20%;
}



.playable {
  width: 13%;
  height: 7vh;
  border: 2px solid #00ff00;
  box-shadow: 2px 0px 10px #fff;
  float: left;
  color: transparent;
}

.playable:hover{
  background-color: #AEFF14;
  cursor: url('spaceinvader.cur'), auto;
}

.notplayable {
  width: 13%;
  height: 7vh;
  border: 2px solid #00ff00;
  box-shadow: 2px 0px 10px #fff;
  float: left;
  color: transparent;
}

.notplayable:hover{
  cursor: not-allowed;
}
